

<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-2">
    <article class="card" style="width: 40rem; margin-bottom: 20px;">
          <h3 class="card-title">
            <a href="/aposentadoria-periodo-como-seminarista-e-valido/">Aposentadoria: Período como seminarista é válido</a>
          </h3>
          <p class="card-text">
              Para quem já está próximo de receber a aposentadoria, seja por idade ou período de contribuição, qualquer tempo de trabalho que possa ser contabilizado ajuda e muito!

              Por isso esse texto abordará um assunto que poucos tem conhecimento.

              O Instituto Nacional de Seguridade Social (INSS)[...]
          </p>
    </article>
  </div>
</div>


  <div class="col">
    <article class="card" style="width: 40rem; margin-bottom: 20px;">

        <h3 class="card-title">
          <a href="/minha-esposa-nao-conseguiu-a-aposentadoria-rural-corro-o-mesmo-risco/">Minha Esposa Não Conseguiu a Aposentadoria Rural, Corro o Mesmo Risco?</a>
        </h3>
        <p class="card-text">
            É inegável a importância do pequeno produtor rural para o bom andamento da sociedade. É ele quem leva grande parte dos produtos que consumimos diariamente. Diferente do produtor de grande porte que geralmente tem foco voltado em produtos para exportação e maior lucro, o pequeno produtor tem poucos privilégios. [...]
        </p>
    </article>
  </div>

  <div class="col">
    <article class="card" style="width: 40rem; margin-bottom: 20px;">
        <h3 class="card-title">
          <a href="/aposentadoria-bloqueada-saiba-como-proceder/">Aposentadoria bloqueada: saiba como proceder</a>
        </h3>
        <p class="card-text">
            O bloqueio da aposentadoria não é um procedimento incomum no INSS. Isso acontece para que não ocorram fraudes.
            Porém, muitas vezes pessoas que não tem essa intenção acabam sofrendo essa consequência.
            Neste artigo, vamos explicar o motivo de isso ocorrer e como sair desse problema.[...]
        </p>
    </article>
  </div>

  <div class="col">
    <article class="card" style="width: 40rem; margin-bottom: 20px;">
        <h3 class="card-title">
          <a href="/a-mae-desempregada-tem-direito-ao-salario-maternidade/">A mãe desempregada tem direito ao Salário-maternidade?</a>
        </h3>
        <p class="card-text">
            Conforme o art. 71 da Lei de Benefícios (Lei nº 8.213/91), o salário-maternidade é um benefício previdenciário devido à segurada da Previdência Social,
            e tem duração de 120 (cento e vinte) dias, com início no 28º dia antes do parto ou a partir de sua ocorrência.
            De forma resumida, quando a trabalhadora dá à luz estando[...]
        </p>
    </article>
  </div>

  <div class="col">
    <article class="card" style="width: 40rem; margin-bottom: 20px;">
        <h3 class="card-title">
          <a href="/provas-de-uniao-estavel/">Provas de união estável</a>
        </h3>
        <p class="card-text">
            Segundo a Instrução Normativa nº 77 do INSS, são documentos que podem comprovar a união estável os seguintes, não é necessário que se encaminhe todos os documentos, bastando apenas três deles.

            É importante que esses documentos sejam anteriores ao pedido de benefício junto ao INSS (por exemplo pensão por morte). Caso [...]
        </p>
    </article>
  </div>
</div>
