<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="img-profile">
        <a href="/advogado-previdenciario-cascavel/">
        <img src="/assets/foto-bruno.jpeg" alt="Foto Bruno Pellizzetti">
        <h2>Bruno Pellizzetti</h2></a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="img-profile">
        <a href="/advogado-familia-cascavel/">
        <img src="/assets/foto-diego.jpeg" alt="Foto Diego Preis">
        <h2>Diego Preis</h2></a>
      </div>
    </div>
  </div>
</div>
