<footer>
  <div class="container">
    <div class="footer-ende">
      <p>
        <strong>
          Endereço
        </strong>
      </p>
      <p>
        Rua Paraná 3033, Sala 143, 14 Andar, Centro Empresarial Formato.
      </p>
    </div>

    <div class="footer-contact">
      <ul class="nav-social">
        <li class="nav-item">
           <a class="nav-link" href="https://www.facebook.com/brunopellizzettiadvocacia"target="_blank">
              <i class="fa-brands fa-facebook"></i>
            </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/@brunopellizzetti"target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copy">
      <span>
      <small> 2023 | &copy; Pellizzetti, Walber e Advogados Associados</small>
      </span>
    </div>
  </div>
</footer>
