<div class="row">
  <div class="profile col-sm-3">
    <a class="profile-link" href="/advogado-previdenciario-cascavel/">
      <img class="profile-img" src="/assets/foto-bruno.jpeg" alt="Foto Bruno Pellizzetti">
      <h2 class="profile-nome">Bruno Pellizzetti</h2>
    </a>
  </div>

  <div class="profile col-sm-3">
    <a class="profile-link" href="/advogado-civil-cascavel/">
      <img class="profile-img" src="/assets/foto-edu.jpeg" alt="Foto Eduardo Walber">
      <h2 class="profile-nome">Eduardo Walber</h2>
    </a>
  </div>

  <div class="profile col-sm-3">
    <a class="profile-link" href="/advogado-familia-cascavel/">
      <img class="profile-img" src="/assets/foto-diego.jpeg" alt="Foto Diego Preis">
      <h2 class="profile-nome">Diego Preis</h2>
    </a>
  </div>
</div>
