html{
  font-size: 100%;
}

header{
  background-color: #2E2E2D;
  padding: 25px;
  margin-bottom: 4em;

  .navbar-brand{
    font-size: 22px;
    color: rgb(226, 226, 226);
    padding: 0;
    text-align: center;
  }
  .navbar-brand:hover{
    color: #0D6EfD;
    transition: 0.5s;
  }
  .nav-link{
    color: rgb(226, 226, 226);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }
  .nav-link:hover{
    color: #0D6EfD;
    transition: 0.5s;
  }
}

.post, article{
  p:first-of-type {
    margin-top: 1em;
  }
  p{
    line-height: 1.4em;
    text-align: justify;
    font-size: 19px;
  }

  h1,h2,h3{
    color: #283277;
    margin-top: 1em;
  }

  h1{
    font-size: 32px;
  }

  h2{
    font-size: 26px;
  }
  h3{
    font-size: 24px;
  }
  ul,ol{
    line-height: 1.8em;
    font-size: 22px;
  }

  a{
    text-decoration: none;
  }
}

.video{
position: relative;
width: 100%;
padding-bottom: 45%;
margin: 2em 0 3em;

iframe{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 2em;
}
}

@media (min-width: 768px) {
  img {
    width: 500px; /* Largura fixa de 500 pixels */
    height: 500px; /* Altura fixa de 500 pixels */
  }
}

.imagem img{
    max-width: 100%; /* Ajusta a largura máxima para garantir responsividade */
    height: 900px; /* Define a altura desejada */
    width: auto; /* Mantém a proporção original */
}


table{
  width: 100%;
  border: rgb(218, 218, 218) solid 1px;
}
th{
  border: solid 1px rgb(218, 218, 218);
  padding: 10px;
  text-align: center;
}
td{
  border: solid 1px rgb(218, 218, 218);
  padding: 10px;
  text-align: center;
}

.card{
  border: none;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
}

footer{
  color: white;
  background-color: #2E2E2D;
  padding: 10px;
  margin-top: 3em;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);


.nav-social{
  list-style: none;
  padding: 0;
  }
.nav-social i{
  background-color: #3B3B3B;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  }
  li{
    display: inline-block;
  }
  .footer-copy{
    text-align: center;
  }
}


.blog{
  color: #283277;
  margin-top: 4em;
}

.artigo{
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

.artigo a{
  font-size: 21px;
  color: #0D6EfD;
}

// cookies
/* styles.css */

#cookie-notice {
  padding: 0.5rem 1rem;
  display: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: calc(100%);
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  transform: translateX(-20px);
}

#cookie-notice a {
  display: inline-block;
  cursor: pointer;
  margin-left: 0.5rem;
}

.btn {
  background-color: #283277;
  border: none;
  padding: 0.6em;
}

@media (max-width: 767px) {
  #cookie-notice span {
    display: block;
    padding-top: 3px;
    margin-bottom: 1rem;
  }
  #cookie-notice a {
    position: relative;
    bottom: 4px;
  }
}

.animar {
  animation: slide 0.7s forwards;
}

@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
