---
layout: default
---

  <section class="container page-main">
    <div class="row">
      <div class="col-md-8">
        <p style="margin-top: 2.5em;">Após uma vida de trabalho duro ou quando estão sofrendo com uma grave doença nossos clientes buscam confiança e seriedade. Com o tempo, formamos uma relação que dura muito mais do que o tempo do processo, mas uma amizade que segue por toda a vida, quando nossos antigos clientes recomendam nosso escritório em Cascavel para seus amigos e familiares, sabemos que o trabalho foi bem feito.
          A minha história como advogado previdenciário em Cascavel - PR, se confunde com a minha própria história de vida e da minha família.
        </p>

        <h1>Início</h1>

        <p>Tudo começou há muitos anos, quando meu irmão, Rafael Pellizzetti, ainda fazia estágio no INSS, quando cursava a faculdade UEL (Universidade Estadual de Londrina).

        Durante seu aprendizado, acabou se apaixonado pela área e iniciou sua carreira como advogado previdenciário em Cascavel justamente ajudando a própria família, como a nossa mãe sempre nos ensinou, colocando a família e seus clientes, sempre em primeiro lugar.

        Me lembro bem do dia em que fomos resolver uma questão da minha avó. Eu ainda não entendia muito bem como as questões previdenciárias funcionavam. Mas vejo até hoje a alegria dela receber os valores em atraso da revisão de sua aposentadoria.

        Depois de formado, meu irmão voltou às origens e abriu escritório em Cascavel, para exercer especificamente o direito previdenciário. Isso serviu de inspiração para seguir os seus passos, aprendendo pouco a pouco.

        A confiança e a amizade com os clientes sempre foram os pontos mais importantes na sua forma de advogar, com humildade e humanidade ímpares na profissão, priorizando, acima de tudo, os interesses dos seus clientes.

        Ele conseguiu aposentar milhares de pessoas, trabalhadores rurais, motoristas, cobradores, frentistas, pedreiros entre muitas profissões, fazendo a diferença na vida de todas estas pessoas, sempre cuidando dos seus processos com muito carinho, independente de quem fossem. Assim, obteve sucesso como advogado previdenciário em Cascavel, sem jamais esquecer a origem de nossa família, que também vem do meio rural terra, do trabalho duro e com muita simplicidade.
        </p>

        <h1> Aprendizado </h1>

        <p> Com ele, aprendi que o direito previdenciário é a área de maior exigência e responsabilidade do advogado. Lidamos com um patrimônio construído pouco a pouco, tijolo a tijolo, com muito suor e muitas vezes às custas da própria saúde, para um momento de tranquilidade e descanso.

        Desta forma, aprendi que o advogado previdenciário deve estar atento a todas as alterações legislativas, mudanças de entendimento da jurisprudência, analisando com calma e detalhe todos os vínculos de trabalho do cliente, buscando a concessão ou revisão do benefício da melhor forma e com mais vantagens para o cliente, mesmo que tenhamos que recomendar que aguarde mais um tempo para realizar o requerimento.

        Nos pedidos de auxílio doença e aposentadoria por invalidez, é preciso possuir até conhecimentos médicos, saber os reflexos da doença e as dificuldades do cliente, trazendo um pouco de humanidade para os peritos do INSS e da Justiça.

        Assim, o advogado previdenciário pode traçar as melhores estratégias, ser eficaz e extremamente rápido, pois cada dia que passa é um dia menos na aposentadoria de seus clientes, sem deixar de ser combativo contra as ilegalidades cometidas pelo INSS e pelo Judiciário.
        </p>

        <h1>Um momento difícil e a carreira de advogado previdenciário</h1>

        <p>Depois de ajudar tantas pessoas nos seus momentos difíceis aqui em Cascavel, em idade avançada ou acometidos pelas doenças mais severas e diante do momento mais vulnerável de sua vida, meu irmão, Rafael Pellizzetti, teve em sua história uma trajetória diferente e nos deixou cedo demais, antes de completar 35 anos.

          Ele nos deixou, mas o fato é, todos os dias eu me deparo com pessoas e clientes que ainda sentem sua falta, da pessoa que era, de sua humildade e tratamento com todos, seu sucesso enfim, não veio por acaso.

          No primeiro momento que eu soube de sua morte eu decidi que iria tomar conta de tudo aquilo que ele havia construído como advogado previdenciário. Não houve tempo para chorar, apenas enfrentar aquele desafio que se abria para mim.

          E eu consegui vencer todas as barreiras, todas as dificuldades, abdicando de mim mesmo para crescer, dar continuidade ao que foi construído e me reconstruir profissionalmente e pessoalmente como ser humano, abraçando o direito previdenciário como a maior causa em minha vida.

        </p>

          <h1>O caminho seguido como advogado previdenciário</h1>

          <p>Já passados três anos da perda e dos momentos de maior dificuldade, consegui superar todos os desafios e manter todos os clientes de direito previdenciário em Cascavel. Por um momento, perdemos a referência do escritório, o advogado previdenciário é um amigo pessoal - insubstituível - mas a cada dia que passa, mais pessoas chegam e confiam na qualidade e na continuidade do trabalho que eu venho fazendo.

            Voltei a seguir seus passos cursando a especialidade de Direito Previdenciário, também na UEL, buscando conhecimento, especialização e a expansão do escritório, ajudando cada dia mais pessoas e continuar aquele legado que foi construído como advogado previdenciário.

            Assim, busquei conhecimento, especialização e a expansão do escritório, hoje com mais profissionais, buscando ajudar cada dia mais pessoas e continuar o legado do meu irmão, enfrentando novos desafios diariamente, estudando agora na Faculdade Cândido Mendes, o direito previdenciário do servidor público.

            Hoje, continuo a aprender e a me dedicar ao direito previdenciário em Cascavel, cuidado dos processos com o mesmo carinho e dedicação desde o início de nosso escritório. Agora também voltado para o público online, o que me permite ajudar pessoas do Brasil inteiro.

            Seja você morador de Cascavel ou tenha me conhecido pela internet, me envie uma mensagem, será um prazer tirar sua dúvida ou simplesmente ouvir sua história, assim como você ouviu a minha. Eu me lembro todos os dias da minha missão: Uma luta diária pelas pessoas, defendendo mais do que tudo, a sua própria história e seus direitos pela aposentadoria.
          </p>

      </div>
    </div>

  </section>
