---
layout: default
---
<article>

  <h1>Provas de união estável</h1>
  <p>
    Segundo a Instrução Normativa nº 77 do INSS, são documentos que podem comprovar a união estável os seguintes, não é necessário que se encaminhe todos os documentos, bastando apenas três deles.

    É importante que esses documentos sejam anteriores ao pedido de benefício junto ao INSS (por exemplo pensão por morte). Caso o INSS não reconheça a condição de União Estável ou dependência econômica, é preciso ingressar com uma ação judicial, arrolando testemunhas para auxiliar a comprovação da União Estável.

    Os documentos abaixo não são um <em>rol exaustivo,</em> isso é, podem ser complementados com mais documentos diversos:
  </p>

  <ul>
    <li>certidão de nascimento de filho havido em comum;</li>
    <li>certidão de casamento religioso;</li>
    <li>declaração do imposto de renda do segurado, em que conste o interessado como seu dependente;</li>
    <li>disposições testamentárias;</li>
    <li>declaração especial feita perante tabelião;</li>
    <li>prova de mesmo domicílio;</li>
    <li>prova de encargos domésticos evidentes e existência de sociedade ou comunhão nos atos da vida civil;</li>
    <li>procuração ou fiança reciprocamente outorgada;</li>
    <li>conta bancária conjunta;</li>
    <li>registro em associação de qualquer natureza, onde conste o interessado como dependente do segurado;</li>
    <li>anotação constante de ficha ou livro de registro de empregados;</li>
    <li>apólice de seguro da qual conste o segurado como instituidor do seguro e a pessoa interessada como sua beneficiária;</li>
    <li>ficha de tratamento em instituição de assistência médica, da qual conste o segurado como responsável;</li>
    <li>escritura de compra e venda de imóvel pelo segurado em nome de dependente;</li>
    <li>declaração de não emancipação do dependente menor de 21 (vinte e um) anos; ou</li>
    <li>quaisquer outros que possam levar à convicção do fato a comprovar.</li>

  </ul>
</article>
